body {
    background-color: rgb(38, 34, 34);
}


.chart {
    margin-left: 30px;
    display: inline-block;
    animation: chartOpacity ease 5s;
}

img {
    width: 500px;
    animation: chartOpacity ease 5s;
}

.chart-title1 {
    color: aliceblue;

}



.iphone-campaign {
    color: rgb(238, 155, 11);
    display: -webkit-inline-flex;
    font-family: Arial, Helvetica, sans-serif;
}

.samsung-campaign {
    color: blue;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
}

.square {
    width: 10px;
    height: 10px;
}

@keyframes chartOpacity {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }

}

.holiday-chart {
    display: inline-block;
    margin: 50px;
    animation: chartOpacity ease 5s;
}

.samsung-stat {
    background-color: aliceblue;
    margin: 35px;
    height: 350px;
    width: 520px;
    align-items: center;
    display: block;
    text-align: center;
    animation: chartOpacity ease 5s;
}

.chart-title2 {
    color: rgb(38, 34, 34)
}
