body {
    background-color: rgb(38, 34, 34);
}

.chart {
    margin-top: 30px;
    margin-left: 30px;
    display: inline-block;
    animation: chartOpacity ease 5s;
}

img {
    width: 500px;
    animation: chartOpacity ease 5s;
}

.chart-title1 {
    color: aliceblue;
    animation: textColor ease 5s;
}

@keyframes textColor {
    from {
        color: rgb(38, 34, 34);
    }

    to {
        color: aliceblue;
    }
}

.iphone-campaign {
    color: rgb(238, 155, 11);
    display: -webkit-inline-flex;
}

.samsung-campaign {
    color: blue;
    display: inline-block
}

.square {
    width: 10px;
    height: 10px;
}

@keyframes chartOpacity {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }

}

.holiday-chart {
    display: inline-block;
    margin: 50px;
    animation: chartOpacity ease 5s;
}


